<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/dialog.css"/>
		
		<script src="js/data.js" ></script>			
		<script src="js/tools.js" > </script>		
		<!-- bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script src="js/jquery-3.1.1.js" ></script>
		<script src="js/bootstrap.min.js" ></script>
		<!-- 模板引擎 -->
		<script src="js/template-native.js" ></script>

		<script>
			var dpr = 1 / window.devicePixelRatio;
		    document.write('<meta name="viewport" content="width=device-width,user-scalable=no,,initial-scale='+dpr+',minimum-scale='+dpr+',maximum-scale='+dpr+'" />');

		    var fz = document.documentElement.clientWidth / 50;
		    
		    document.getElementsByTagName('html')[0].style.fontSize = fz + 'px';
		    
		    document.addEventListener('touchstart',function(ev){
		    	
		       if( ev.cancelable ){
		       	
		       		ev.preventDefault();
		       }
		       
		    },{passive:false});

		    
		</script>
	</head>
	
	<body>
		<section class="warp" >
			<div id="state" >
				<div class="xinhao" >
					
					<span class="number"></span>
					<span class="number"></span>
					<span class="number"></span>
					<span class="number"></span>
					<span class="number"></span>
					<span class="yunying" >中国移动</span>
					
				</div>
				
				<div class="time" ></div>
				
				<div class="dianLiang" >
					<span>100%</span>
					<span class="icon" ></span>
				</div>
			</div> 
			<div id="lock">
				<div class="time">
					<h2></h2>
					<div></div>
				</div>
				<div class="open">&gt;&gt;滑动来解锁 </div>
				
			</div>
			<section class="page">

			</section>
						
			<div class="fixed" >
				<div class="icon" >
					<span class="active" ></span>
					<span></span>
				</div>
				<ul class="fixed_items" >
					<li class="app" >
						<div class="icon1" ></div>
						<span class="title" >信息</span>
					</li>
					<li class="app" >
						<div class="icon2" ></div>
						<span class="title" >相机</span>
					</li>
					<li class="app" >
						<div class="icon3" ></div>
						<span class="title" >相册</span>
					</li>
					<li class="app" >
						<div class="icon4" ></div>
						<span class="title" >计算器</span>
					</li>
				</ul>
			</div>
			
			<div id="head">
				<div class="info">
					<div class="search">
						<input type="text" placeholder="搜索" />
						<span></span>						
					</div>

					<ul>
						<li class="noinfo" >没有通知</li>
					</ul>
					
				</div>
				<div class="back" ></div>
			</div>
			<div id="foot">
				<ul class="items" >
					<li >
						<span class="glyphicon glyphicon-plane" ></span>
						
					</li>
					<li>
						<span class="glyphicon glyphicon-volume-off" ></span>
					</li>
					<li class="active" >
						<span class="glyphicon glyphicon-sort" ></span>
					</li>
					<li>
						<span class="glyphicon glyphicon-cog" ></span>
					</li>
					<li>
						<span class="glyphicon glyphicon-camera" ></span>
					</li>
				</ul>
				<div class="sound" >
					<span class="low glyphicon glyphicon-asterisk soundIcon" ></span>
					<div class="line_down" >
						<span class="line_up" ></span>
						<span class="soundBtn" ></span>
					</div>
					<span class="high glyphicon glyphicon-asterisk soundIcon"></span>
				</div>
				<div class="air" >
					<div class="active" ><span class="glyphicon glyphicon-blackboard" ></span> AirPlay 镜像</div>
					<div><span class="glyphicon glyphicon-record" ></span> AirDorp: 关闭</div>
				</div>
				<div class="night" >
					<div class="" >
						<span class="glyphicon glyphicon-certificate" ></span> NightShift: 关闭
					</div>
				</div>
			</div>
			<div class="appContent" >
				<div class="album info" >
					
					<ul class="album_list" >


					</ul>
					
					<div class="bigImgWarp">
						<div class="bigImg" >
					
						</div>
						
					</div>
					<div class="titie">
						<span class="delet glyphicon glyphicon-trash" ></span>
						<span class="back glyphicon glyphicon-chevron-left" ></span>
						<p>已选择0项</p>
						<span class="select" data-onoff = "false" >选择</span>
					</div>
					<!--<div class="footer"></div>-->
				</div>				
								
				<div class="noInfo info" >app正在建设中...</div>				
				
				<div class="menu" >
					
					<span class="glyphicon glyphicon-remove-sign iconBack" ></span>
				</div>
				
			</div>
			<div class="head_show" ></div>
			<div class="foot_show" ></div>
			<div id="mask" ></div>
			
		</section>
		
		<script type="text/html"  id="pageHtml"  >
			
			<%for (var i = 0; i < data.length; i++) {%>
				
				<ul class="page1_list <%= i===0? "active":"" %>" data-page = <%= data[i].page %> >
					
					<%for (var j = 0; j < data[i].list.length; j++) {%>
						<li class="app" data-index = "<%= data[i].list[j].index %>" data-candel= "<%= data[i].list[j].canDel %>" >
							<img src= <%= data[i].list[j].src %> />
							<span class="title"><%= data[i].list[j].title %></span>
							
							<% if(data[i].list[j].canDel ==="true"){ %>	
								
								<span class="del glyphicon glyphicon-remove" ></span>								
							<%}%>
							<div class="content" > </div>
								
						</li>				
					<%}%>	
				</ul>
			<%}%> 	
		</script>
		
		<script type="text/html" id="photosHtml" > 
			<%for (var i = 0; i < data.length; i++) {%>
				
				<li data-index = <%= i %> >
					<img src= <%= data[i] %> />							
					<div class="mask">
						<span class="checkbox glyphicon glyphicon-ok" ></span>	
					</div>
				</li>
			
			<%}%> 
		</script>
	
		<script>
			;(function(){
				
				//锁屏时间
				var arrDay = ["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];	

				var time = new Date();
				
				var hour = time.getHours() < 10 ? "0"+time.getHours() : time.getHours();
				
				var minit = time.getMinutes() < 10 ? "0"+ time.getMinutes() : time.getMinutes();
				 
				var timeObj = {
					
					hour:hour,
					minit:minit,
					month:time.getMonth(),
					dates:time.getDate(),
					day:time.getDay()
					
				}
				
				$("#lock .time h2").eq(0).html(timeObj.hour +":"+timeObj.minit );
							
				$("#lock .time div").eq(0).html((timeObj.month + 1)+"月"+timeObj.dates +"日 "+ arrDay[timeObj.day] );
				
				//顶部状态栏时间
				$("#state .time").eq(0).html(timeObj.hour +":"+timeObj.minit );
				
				setInterval(function(){
					
					var time = new Date();
					
					var hour = time.getHours()<10?"0"+time.getHours():time.getHours();
					
					var minit = time.getMinutes() < 10? "0"+ time.getMinutes():time.getMinutes();
					
					if( timeObj.minit !== minit ){
						
						timeObj.minit = minit;
						$("#lock .time h2").eq(0).html(timeObj.hour +":"+ timeObj.minit );
						$("#state .time").eq(0).html(timeObj.hour +":"+timeObj.minit );
						
					}else{
						
						return;
					}
										
					if( timeObj.hour !== hour ){
						
						timeObj.hour = hour;
						$("#lock .time h2").eq(0).html(timeObj.hour +":"+ timeObj.minit );
						$("#state .time").eq(0).html(timeObj.hour +":"+timeObj.minit );
					}
					
					if( timeObj.month !== time.getMonth() || timeObj.dates !== time.getDate() || timeObj.day !== time.getDay() ){
						
						if( timeObj.month !== time.getMonth() ){
							timeObj.month = time.getMonth();
						}
						
						if( timeObj.dates !== time.getDate() ){
							timeObj.dates = time.getDate();
						}
						
						if( timeObj.day !== time.getDay() ){
							timeObj.day = time.getDay();
						}						
						
						$("#lock .time div").eq(0).html((timeObj.month + 1)+"月"+timeObj.dates+"日 "+ arrDay[ timeObj.day ] );							
						
					}					
				},1000)				
				
				//设置page的width
				$(".page").eq(0).css("width",data.length*100+"vh");
				
				//生成主屏app图标	
				var obj = { data:data };
				
				var html =  template('pageHtml', obj);
				
				$(".page").eq(0).html(html);

				// 生成页数对应的小圆圈
				var str = "";
				
				data.forEach(function(item,index){
					
					if( index === 0 ){
						
						str += "<span class = 'active'></span>";
						
					}else{
						
						str += "<span></span>";
					}
					
				})
				
				$(".fixed .icon").html( str );
				
				// 生成相册列表				
				var photos = { data : photosData };

				$(".appContent .album_list").html( template('photosHtml', photos) ); 
				
				
				$(".bigImg").css("width",photosData.length*100 +"vw");
				
				var imgStr = "";
				
				for (var i = 0; i < photosData.length; i++) {
					
					imgStr += "<div><img src='"+ photosData[i] +"' /></div>";
				}

				$(".bigImg").html( imgStr );
				
			})();
		</script>
				<!-- isScroll -->
		<script src="js/iscroll.js" > </script>		
		<script src="js/dialog.js" ></script>
		<script src="js/myJs.js" ></script>
		
		
	</body>

</html>
